<div class="container my-5">
  <div class="row justify-content-center ">
    <h3 class="my-3">Profile Setting</h3>
  </div>
  <div class="row">
    <div class="col">
      <%= render 'devise/shared/user-error', user:@user %>
      <%=form_with model: @user, method: :patch do |f|%>
        <table class="table">
          <tr>
            <th>profile image</th>
            <th><%= f.file_field :image, accept: "image/*" %></th>
          </tr>
          <tr>
            <th>name</th>
            <th><%= f.text_field :name, class:"form-control", placeholder:"ここに入力した名前が表示されます" %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= f.text_area :introduction, class:"form-control" %></th>
          </tr>
          <tr>
            <th></th>
            <th><%=f.submit "更新する", class:"btn btn-success" %></th>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
<div>