<%= stylesheet_link_tag 'users' %>
<div class="container my-5">
    <div class="row">
      <div class="col-3">
          <ul>
              <li><%= link_to "フォロー/フォロワー", follows_user_path(@user) %></li>
              <li><%= link_to "Event", myevent_event_path(@user) %></li>
          </ul>
        </div>
        <div class="col m-3">
          <h3 class>記事の管理</h3>
             <table class="table">
              <!--自分の投稿記事一覧-->
                 <tbody>
                  <% @posts.each do |post| %>
                     <tr>
                        <th><%= post.title %></th>
                        <th><%= post.post_status_i18n %></th>
                        <th>
                          <%= link_to edit_post_path(post), class:"btn btn-outline-secondary rounded-circle" do %>
                             <i class="fa-regular fa-pen-to-square"></i>
                          <% end %>
                        </th>
                        <th>
                          <%= link_to post_path(post), method: :delete, class:"btn btn-outline-secondary rounded-circle", data: {confirm: "<確認>削除しますか？"} do %>
                             <i class="fa-solid fa-trash-can"></i>
                          <% end %>
                        </th>
                     </tr>
                  <% end %>
                </tbody>
             </table>
          </div>
      </div>
</div>
