 <div class="row">
   <% events.each do |event| %>
      <div class="col-4">
          <div class="card" style="width: 18rem;">
            <a href="/events/<%= event.id %>" class="card text-dark">
                更新日<%= event.created_at.strftime('%Y/%m/%d') %>
                <%= image_tag event.get_event_image(400,400) %>
                <h4 class="card-title"><%= event.event_name %></h4>
                <p class="card-text"><%= event.event_introduction %></p>
            </a>
          </div>
      </div>
    <% end %>
 </div>