<div class="container">
  <h3 class>Edit Event</h3>
   <div class="row">
     <div class="col-6">
        <div id="event_images" style="display: none;">
          <p id="preview"></p>
        </div>
     </div>
     <div class="col-6">
        <%= form_with model:@event, url:edit_event_path(@event) do |f| %>
          <table class="table table-borderless">
            <tbody>
              <tr><th>
                <%= f.datetime_field  :date %>
                <%= f.submit "申請する", class: "btn btn-success" %>
              </th></tr>
              <tr><th>
                <label class>
                <i class="fa-regular fa-image"></i>
                <%= f.file_field :event_image, accept: "image/*", onchange: "avatarImage(this);"%>
                </label>
              </th></tr>
              <tr><td><%= f.text_field :event_name, placeholder:"イベントタイトル", class:'form-control' %></td></tr>
              <tr><td><%= f.text_area :event_introduction,rows:"15", placeholder:"イベント詳細", class:'form-control' %></td></tr>
              <tr>
                <td>
                
                <%= f.radio_button :event_status, :offline %><%= f.label :"オフライン"%>
                <%= f.radio_button :event_status, :online %><%= f.label :"オンライン" %>
                </td>
              </tr>
              <tr><td><%= f.text_area :url, placeholder:"オンライン開催URL", class:'form-control' %></td></tr>
              <tr><td><%= f.text_field :postal_code, placeholder:"〒 郵便番号", class:'form-control' %></td></tr>
              <tr><td><%= f.text_area :adress,rows:"4", placeholder:"住所", class:'form-control'%></td> </tr>
            </tbody>
          </table>
        <% end %>
      </div>
  </div>
</div>
