<div class="container my-5">
  <h3 class="mb-4">My Event</h3>
  <div class="btn-group mx-2 mb-4">
    <%= link_to "自分が作成したイベント", myevent_event_path(event_type: "created_events"), class: "btn btn-primary" %>
    &nbsp;&nbsp;
    <%= link_to "参加予定イベント", myevent_event_path(event_type: "attended_events"), class: "btn btn-primary" %>
    &nbsp;&nbsp;
    <%= link_to "参加完了イベント", myevent_event_path(event_type: "past_attended_events"), class: "btn btn-primary" %>
  </div>
   <div class="row m-5">
   <% @myevents.each do |event| %>
      <div class="col.justify-content-around m-3">
          <div class="card" style="width: 18rem;">
            <a href="/events/<%= event.id %>" class="card text-dark">
                更新日<%= event.created_at.strftime('%Y/%m/%d') %>
                <%= image_tag event.get_event_image(400,400) %>
                <h4 class="card-title"><%= event.event_name %></h4>
                <p class="card-text"><%= event.event_introduction %></p>
            </a>
          </div>
      </div>
    <% end %>
 </div>

    </div>