<div class="container my-5">
  <h3 class="mb-4">My Event</h3>
  <div class="btn-group mx-2 mb-4">
    <%= link_to "自分が作成したイベント", myevent_event_path(event_type: "created_events"), class: "btn btn-primary" %>
    &nbsp;&nbsp;
    <%= link_to "参加予定イベント", myevent_event_path(event_type: "attended_events"), class: "btn btn-primary" %>
    &nbsp;&nbsp;
    <%= link_to "参加完了イベント", myevent_event_path(event_type: "past_attended_events"), class: "btn btn-primary" %>
  </div>

    <% @myevents.each do |event| %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= link_to event.event_name, event_path(event) %></h5>
          <p class="card-text"><strong>開催日：</strong><%= event.date %></p>
          <p class="card-text"><strong>参加URL : </strong><%= link_to  event.url %></p>
        </div>
      </div>
    <% end %>

    </div>