<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col event-image">
      <%= image_tag @event.get_event_image(700,700) %>
    </div>
  </div>
  <div class="row">
     <table class="table table-borderless">
       <tbody>
           <tr>
           <td><p id="title"><%= @event.event_name %></p></td>
           </tr>
           <tr>
             <td><p class="item">1.詳細</p></td>
           </tr>
           <tr>
             <td><%= @event.event_introduction %></td>
           </tr>
           <tr>
             <td><p class="item">2. 開催形態</p></td>
           </tr>
           <tr>
             <td><%= @event.event_status %></td>
           </tr>
           <tr>
             <td><p class="item">3. 開催日時</p></td>
           </tr>
           <tr>
             <td><%= @event.date.strftime('%Y/%m/%d') %></td>
           </tr>
           <tr>
             <td><p class="item">4. 開催場所</p></td>
           </tr>
           <tr>
             <td><p class="item">5. 作成者</p></td>
           </tr>
           <tr>
             <td><%= link_to @event.creator.name, user_path(@user)%></td>
           </tr>

       </tbody>
     </table>
  </div>
          <div class="row">
               <!--イベントの編集　イベント作成者の場合-->
              <% if user_signed_in? %>
               <% if current_user == @event.creator %>
                  <%= link_to edit_event_path(@event), class:"btn btn-success" do %>
                       編集
                  <% end %>
                  <%= link_to event_path(@event), class:"btn btn-danger", method: :delete, data: {confirm: "<確認>削除しますか？"} do %>
                       削除
                  <% end %>
                <% end %>
              <% end %>

               <!--イベント参加の有無　イベント作成者ではないひとがログインしている場合-->
               <% if user_signed_in? %>
                    <% if @event.creator.id != current_user.id %>
                        <% if @attendee %>
                            <%= button_to '参加済み', event_attendees_path(@event, @attendee), disabled: true, class: 'btn btn-secondary mr-3' %>
                            <%= link_to "参加取り消し", event_attendees_path(@event, @attendee), class:'btn btn-sm btn-danger', method: :delete, data: { confirm: '本当に変更しますか？' } %>
                         <% else %>
                             <%= button_to '参加する', event_attendees_path(@event), class: 'btn btn-primary mr-3' %>
                          <% end %>
                     <% end %>
              <% else %>
                     <%= link_to '会員登録して参加する', new_user_registration_path, class: 'btn btn-primary mr-3' %>
              <% end %>
          </div>
          <div class="row">
            <!--参加者-->
            <% if current_user == @event.creator %>
                <% @event.users.each do |user| %>
                   <table class="table">
                       <thead>
                           <th>Member list</th>
                       </thead>
                       <tbody>
                           <tr>
                             <td><%= user.name %></td>
                             <td><%= user.email %></td>
                           </tr>
                       </tbody>
                   </table>
                <% end %>
            <% end %>
          </div>
</div>