<%= stylesheet_link_tag 'events' %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <%= image_tag @event.get_event_image(800,800) %>
    </div>
  </div>
  <div class="row">
     <table class="table table-borderless">
       <tbody>
           <tr>
           <td><p id="title"><%= @event.event_name %></p></td>
           </tr>
           <tr>
             <td><p class="dai">1.詳細</p></td>
           </tr>
           <tr>
             <td><%= @event.event_introduction %></td>
           </tr>
           <tr>
             <td><p class="dai">2. 開催形態</p></td>
           </tr>
           <tr>
             <td><%= @event.event_status %></td>
           </tr>
           <tr>
             <td><p class="dai">3. 開催日時</p></td>
           </tr>
           <tr>
             <td><%= @event.date %></td>
           </tr>
           <tr>
             <td><p class="dai">4. 開催場所</p></td>
           </tr>
           <tr>
             <td><p class="dai">5. 主催者</p></td>
           </tr>
           <tr>
             <td><%= @user %></td>
           </tr>
           
       </tbody>
     </table>
  </div>
  </div>
</div>
 <%= render partial: 'event', locals: { event: @event, isDetail: true } %>