<%= stylesheet_link_tag 'events' %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <%= image_tag @event.get_event_image(700,700) %>
    </div>
  </div>
  <div class="row">
     <table class="table table-borderless">
       <tbody>
           <tr>
           <td><p id="title"><%= @event.event_name %></p></td>
           </tr>
           <tr>
             <td><p class="dai">1.詳細</p></td>
           </tr>
           <tr>
             <td><%= @event.event_introduction %></td>
           </tr>
           <tr>
             <td><p class="dai">2. 開催形態</p></td>
           </tr>
           <tr>
             <td><%= @event.event_status %></td>
           </tr>
           <tr>
             <td><p class="dai">3. 開催日時</p></td>
           </tr>
           <tr>
             <td><%= @event.date %></td>
           </tr>
           <tr>
             <td><p class="dai">4. 開催場所</p></td>
           </tr>
           <tr>
             <td><p class="dai">5. 作成者</p></td>
           </tr>
           <tr>
             <td><%= @event.creator.name%></td>
           </tr>
           
       </tbody>
     </table>
  </div>
  <div class="row">
       <!--イベントの編集-->
       <% if current_user == @event.creator %>
          <%= link_to edit_event_path(@event), class:"btn btn-outline-secondary" do %>
               イベントの編集
          <% end %>
        <% end %>
  </div>
</div>