   <%= stylesheet_link_tag 'home' %>
       <div class="main-visual-top">
            <p class="main-visual-text">Perspective</p>
        </div>
        <div clsss="main-visual">
         <p class="main-visual">
             Perspective helps us to understand situations from other positions, to consider other beliefs, experiences and view points.<br>
             This gives us a better understanding and greater empathy. It reduces bias, judgement and reduces conflict.
         </p>
         <p class="main-visual"><%= link_to "このサイトについて", about_path, class:'btn btn-flat', data: {"turbolinks" => false} %><br></p>
         <p class="main-visual"><%= link_to "ログインする", new_user_session_path %></p>
       </div>
       <div class="container">
          <div class="row m-4">
            <h3 class><i class="fa-regular fa-circle-play", style="color:#0000ff;"></i>注目されている経験</h3>
          </div>
          <div class="row top-row flex-nowrap ml-4">
              <% @impressions.each do |post| %>
                <div class="col top-col justify-content-around">
                    <div class="card" style="width: 20rem;">
                      <a href="/posts/<%= post.id %>" class="text-dark">
                          <div class="card-hedder m-1">
                            <%= image_tag post.user.get_image(40,40) %>
                            <%= post.user.name %>
                            <%=  post.created_at.strftime('%Y/%m/%d') %>
                          </div>
                          <div class="card-body">
                            <h5 class="card-title"><strong><%= post.title %></strong></h5>
                            <h6 class="card-text"><%= post.body %></h6>
                          </div>
                      </a>
                    </div>
                </div>
             <% end %>
          </div>
           <div class="row m-4">
                <h3 class><i class="fa-regular fa-circle-play", style="color:#0000ff;"></i>新しく投稿された経験</h3>
            </div>
              <div class="row top-row flex-nowrap ml-4">
                  <% @posts.each do |post| %>
                    <div class="col top-col justify-content-around ">
                        <div class="card" style="width: 20rem;">
                          <a href="/posts/<%= post.id %>" class="text-dark">
                            <div class="card-hedder m-1">
                              <%= image_tag post.user.get_image(40,40) %>
                              <%= post.user.name %>
                              <%=  post.created_at.strftime('%Y/%m/%d') %>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title"><strong><%= post.title %></strong></h5>
                              <h6 class="card-text"><%= post.body %></h6>
                            </div>
                          </a>
                        </div>
                    </div>
                 <% end %>
              </div>
            <div class="row m-4">
                <h3 class><i class="fa-regular fa-circle-play", style="color:#0000ff;"></i>いいねが多い経験</h3>
            </div>
               <div class="row top-row flex-nowrap m-4">
                  <% @favorites.each do |post| %>
                    <div class="col top-col justify-content-around ">
                        <div class="card" style="width: 20rem;">
                          <a href="/posts/<%= post.id %>" class="text-dark">
                            <div class="card-hedder m-1">
                              <%= image_tag post.user.get_image(40,40) %>
                              <%= post.user.name %>
                              <%= post.created_at.strftime('%Y/%m/%d') %>
                            </div>
                            <div class="card-body">
                              <h5 class="card-title"><strong><%= post.title %></strong></h5>
                              <h6 class="card-text"><%= post.body %></h6>
                            </div>
                            <i class="fa-solid fa-heart"style="color: red;"></i><%= post.favorites.count %>
                          </a>
                        </div>
                    </div>
                 <% end %>
              </div>
            </div>
       </div>
       <div class=" join-top my-5 jumbotron text-center container">
             <h2 class="display-8 font-weight-bold"><%= link_to "会員登録してイベントに参加してみませんか？", new_user_registration_path, class: "text-white" %></h5>
       </div>
       </div>
       <div class="container my-5">
           <div class="row m-4">
               <h3 class><i class="fa-solid fa-seedling", style="color:#008080;"></i>Event一覧</h3>
            </div>
              <div class="row top-row flex-nowrap m-4">
                  <% @events.each do |event| %>
                    <div class="col top-col.justify-content-around ">
                      <div class="card" style="width: 20rem;">
                        <a href="/events/<%= event.id %>" class="text-dark">
                          <%= image_tag event.get_event_image(300,300),class:"card-img-top" %>
                            <h5 class="card-title"><strong><%= event.event_name %></strong></h5>
                            <h6 class="card-text2"><%= event.event_introduction %></h6>
                         </a>
                      </div>
                    </div>
                 <% end %>
              </div>
              <div class="row justify-content-end">
                <h5 claas><i class="fa-solid fa-paper-plane"></i><%= link_to "More event", events_path, class:"link" %></h5>
              </div>
             </div>
       </div>


