 <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'home' %>
       <div class="main-visual">
         <div class="main-visual-top">
           <%= image_tag '22_01_001.png', class:'image' %><br>
           <p class="main-visual-text">見たことのない景色<br>みにいこう</p>
         </div>
         <div class="main-visual-bottom">
           <%= link_to "About", about_path, class:'btn btn-flat' %><br>
           <%= link_to "ログインする", new_user_session_path %>
         </div>
       </div>
       <div class="container">
          <div class="row m-4">
            <h3 class>注目されている経験</h3>
          </div>
          <div class="row top-row flex-nowrap ml-4">
              <% @impressions.each do |post| %>
                <div class="col top-col justify-content-around">
                    <div class="card" style="width: 20rem;">
                      <div class="card-hedder">
                        <%= post.user.name %>
                      </div>
                      <div class="card-body">
                        <h5 class="card-title"><strong><%= post.title %></strong></h5>
                        <h6 class="card-text"><%= post.body %></h6>
                      </div>
                    </div>
                </div>
             <% end %>
          </div>
           <div class="row m-4">
                <h3 class>新しく投稿された経験</h3>
            </div>
              <div class="row top-row flex-nowrap ml-4">
                  <% @posts.each do |post| %>
                    <div class="col top-col justify-content-around ">
                        <div class="card" style="width: 20rem;">
                          <div class="card-hedder">
                            <%= post.user.name %>
                          </div>
                          <div class="card-body">
                            <h5 class="card-title"><strong><%= post.title %></strong></h5>
                            <h6 class="card-text"><%= post.body %></h6>
                          </div>
                        </div>
                    </div>
                 <% end %>
              </div>
            <div class="row m-4">
                <h3 class>いいねが多い経験</h3>
            </div>
               <div class="row top-row flex-nowrap m-4">
                  <% @favorites.each do |post| %>
                    <div class="col top-col justify-content-around ">
                        <div class="card" style="width: 20rem;">
                          <div class="card-hedder">
                            <%= post.user.name %>
                          </div>
                          <div class="card-body">
                            <h5 class="card-title"><strong><%= post.title %></strong></h5>
                            <h6 class="card-text"><%= post.body %></h6>
                          </div>
                        </div>
                    </div>
                 <% end %>
              </div>
            </div>
       </div>
       <div class="container my-5">
           <div class="row m-4">
               <h3 class>Event一覧</h3>
            </div>
              <div class="row top-row flex-nowrap m-4">
                  <% @events.each do |event| %>
                    <div class="col top-col justify-content-around ">
                        <div class="card" style="width: 20rem;">
                          <h5 class="card-title"><strong><%= event.event_name %></strong></h5>
                          <h6 class="card-text"><%= event.event_introduction %></h6>
                        </div>
                    </div>
                 <% end %>
              </div>
             </div>
           <%= link_to "More event", events_path %>
       </div>


