 <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'home' %>
       <div class="main-visual">
         <%= image_tag '22_01_001.png', class:'image' %><br>
         <div class="main_right">
           <p>見たことのない景色<br>みにいこう</p>
           <%= link_to "about" %><br>
           <%= link_to "ログインする" %>
         </div>
       </div>
       
 <div class="container">
    <div class="row">
      <div class="col">
        ここはトップページ
        <%= link_to "more event", events_path %>
        
        
        <h1 class="jquery">Hello jQuery!</h1>
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
               <%= image_tag 'nature-1.jpg' %>
            </div>
            <div class="swiper-slide">
               <%= image_tag 'nature-2.jpg' %>
            </div>
            <div class="swiper-slide">
               <%= image_tag 'nature-3.jpg' %>
            </div>
            <div class="swiper-slide">
               <%= image_tag 'nature-4.jpg' %>
            </div>
            <div class="swiper-slide">
               <%= image_tag 'nature-5.jpg' %>
            </div>
          </div>
          <!-- ページネーションの要素 -->
          <div class="swiper-pagination"></div>
          <!-- ナビゲーションボタン （前、次） -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
        about
      </div>
    </div>
  </div>