 <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'home' %>
       <div class="main-visual">
         <div class="main-visual-top">
           <%= image_tag '22_01_001.png', class:'image' %><br>
           <p>見たことのない景色<br>みにいこう</p>
         </div>
         <div class="main-visual-bottom">
           <%= link_to "About" %><br>
           <%= link_to "ログインする" %>
         </div>
       </div>
       <div class="container">
          <div class="row">
            <h3 class><i class="fa-regular fa-comment-dots"></i>閲覧数が多い経験</h3> 
          </div>
          <div class="row">
             <div class="col">
                  <% @posts.each do |post| %>
                    <div class="card" style="width: 20rem;">
                      <div class="caed-body">
                        <h5 class="card-title"><%= post.title %></h5>
                        <h6 class="card-text"><%= post.body %></h6>
                      </div>
                      <div class="card-footer">
                          <%= post.user.name %>
                      </div>
                    </div>
                 <% end %>
             </div> 
          </div>
       </div>
            <div class="row">
                <h3 class>新しく投稿された経験</h3>
            </div>
            <div class="row">
                <h3 class>いいねが多い経験</h3>
            </div>
       
       
 <div class="container">
    <div class="row">
      <div class="col">
        <%= link_to "more event", events_path %>
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
               <%= image_tag 'nature-1.jpg' %>
            </div>
            <div class="swiper-slide">
               <%= image_tag 'nature-2.jpg' %>
            </div>
            <div class="swiper-slide">
               <%= image_tag 'nature-3.jpg' %>
            </div>
            <div class="swiper-slide">
               <%= image_tag 'nature-4.jpg' %>
            </div>
            <div class="swiper-slide">
               <%= image_tag 'nature-5.jpg' %>
            </div>
          </div>
          <!-- ページネーションの要素 -->
          <div class="swiper-pagination"></div>
          <!-- ナビゲーションボタン （前、次） -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  </div>
  
  