<div class="container">
  <div class="row">
      <div class="col">
        <table class="table table-borderless">
          <tbody>
            <%= form_with model:@post, url:edit_post_path(@post) do |f| %>
             <tr>
                <td> <%= f.text_field :name,value: @tag_list, placeholder:"タグ(,で区切ると複数タグ登録できます)", class:'form-control' %></td>
            </tr>
             <tr>
                <td><%= f.text_field :title, placeholder:"タイトル", class:'form-control' %></td>
             </tr>
             <tr>
                <td><%= f.text_area :body,rows:"15", placeholder:"本文", class:'form-control' %></td>
             </tr>
             <tr>
                <td><%= f.file_field :post_image, accept: "image/*" %></td>
            </tr>
            <tr>
                <td> <%= f.select :post_status, Post.post_statuses.keys.map{ |k| [t("enums.post.post_status.#{k}"),k]}, {}, {class: "custom-select w-25"} %><br></td>
            </tr>
            <tr>
                <td> <%= f.submit "更新する", class: "btn btn-success" %><br>
            </td>
            </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>