<h1>記事を新しく書くとこ</h1>
 <div class="container">
   <div class="row">
     <div class="col">
       <%= form_with model:@post, url:posts_path do |f| %>
       <%= f.text_field :title, placeholder:"タイトル" %><br>
       <%= f.text_area :body, placeholder:"本文" %><br>
       <%= f.select :post_status, Post.post_statuses.keys.map{ |k| [t("enums.post.post_status.#{k}"),k]}, {}, {class: "custom-select w-25"} %><br>
       <%= f.submit "保存する", class: "btn btn-success" %>
       <% end %>
     </div>
   </div>
 </div>

