<div class="container">
  <div class="row">
      <div class="col">
        <!--My pageに戻るボタン-->
        <%= link_to user_path(current_user),class:"btn btn-outline-secondary rounded-circle my-4" do %>
         <i class="fa-solid fa-angles-left"></i>
        <% end %><br>
        <!--非同期化-->
        <div id="favorite_buttons_<%= @post.id %>">
          <!--お気に入りボタン-->
          <%= render'favorites/favorite-btn', post: @post %>
        </div>
      </div>
      <!--記事の詳細-->
      <div class="col">
        <%= @post.title %><br>
        <%= @post.body %>
       <div class="row">
            <div id="post_comments">
                <!--コメント欄-->
                <%= render 'post_comments/index', post: @post, post_comments: @post_comments %><!--コメント一覧-->
            </div>
            <div id="comment_form">
                <%= render 'post_comments/form', post: @post, post_comment: @post_comment %><!--コメント入力フォーム-->
            </div>
       </div>
      </div>
      <div class="col-3">
      <!--Userプロフィール-->
      <%= render 'users/index', user: @user %>
        <div class="row">
           <!--記事の編集-->
           <%= link_to edit_post_path(@post), class:"btn btn-outline-secondary" do %>
             記事の編集
           <% end %>
        </div>
      </div>
    </div>
</div>
 