<div class="container my-5">
  <div class="row">
      <div class="col">
        <% if user_signed_in? %>
            <!--My pageに戻るボタン-->
            <%= link_to user_path(current_user),class:"btn btn-outline-secondary rounded-circle my-4" do %>
             <i class="fa-solid fa-angles-left"></i>
            <% end %><br>
            <!--非同期化-->
            <div id="favorite_buttons_<%= @post.id %>">
              <!--お気に入りボタン-->
              <%= render'favorites/favorite-btn', post: @post %>
            </div>
        <% end %>
      </div>
      <!--記事の詳細-->
      <div class="col-8">
        <!--タグ-->
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td>
                 <% @post_tags.each do |tag| %>
                    <i class="fa-solid fa-hashtag"></i><%= tag.post_tag.name %>
                 <% end %>
              </td>
            </tr>
            <tr>
              <td><h3><%= @post.title %></h3></td>
            </tr>
            <tr>
              <td><%= @post.body %></td>
            </tr>
            <tr>
              <td>投稿日<%= @post.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
          </tbody>
        </table>
       </div>
       <div class="col-3">
        <% if current_user == @post.user %>
        <!--記事の編集-->
          <%= link_to edit_post_path(@post), class:"btn btn-outline-secondary" do %>
               記事の編集
          <% end %>
        <% end %>
          <div class="row m-3">
          <!--この記事を書いたUserプロフィール-->
          <%= render 'users/index', user: @user %>
          <% if user_signed_in? %>
            <div id="follow_<%= @user.id %>">
               <%= render 'relationships/follow_btn', user: @user %><!--フォローボタン-->
            </div>
          <% end %>
          </div>
       </div>
    </div>
       <div class="row mx-5">
        <div class="col">
           <!--コメント欄-->
          <div id="post_comments">
              <%= render 'post_comments/index', post: @post, post_comments: @post_comments %><!--コメント一覧-->
          </div>
          <% if user_signed_in? %>
            <div id="comment_form">
                <%= render 'post_comments/form', post: @post, post_comment: @post_comment %><!--コメント入力フォーム-->
            </div>
          <% end %>
        </div>
       </div>
  </div>
 